@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
* {
	margin: 0;
	padding: 0;
}

html{
  background: url(../images/albumsbg.png) no-repeat center fixed;
  background-size: cover; 

    Fill the entire page with the image (no white space)
    Scale image as needed
    Center image on page
    Do not cause scrollbars
*/  
}

body {	
  font-family: 'Permanent Marker', cursive;
 
}

h1 {
	font-size:100px;
  text-shadow: 7px 7px 5px black;
}


.vericaltext{
	position: absolute;
	left: 170px;
	top: 125px;
	font-size:92px;
    width:1px;
    word-wrap: break-word;
    font-family: 'Permanent Marker', cursive;
	color: #1385d6;
	text-shadow: 7px 7px 5px black;
}
.menu ul{
	display: inline-flex;
	margin: 50px;
		font-family: 'Staatliches', cursive;
	font-size: 25px;
}
.menu ul li{
	
	list-style: none;
	margin: 0 20px;
	color: #1385d6;
	cursor: pointer;
		
}

.logo img{
	width: 100px;
	margin-top: -23px;
	margin-right: 20px;
	
	
}
.code-text {
  text-align: left;
  position: absolute;
  top: 16%;
  left: 17%;
  transform: translate(-50%, -50%);
  /*This transformation is characterized by a two-dimensional vector. Its coordinates define how much the element moves in each direction.*/
  color: #1385d6;
  
}

.social-icons{
    right: 70px;
    bottom: 30px;
    position: absolute;	

}
.social-icons ul li{
	list-style: none;
	margin-top: 15px;
	text-align: center;
}



.shotta {
	
	position: absolute;
    top: 150px;
	left: 250px;
}
.cottonwood {
	
	position: absolute;
    top: 150px;
	left: 570px;
}
.holly {
	
	position: absolute;
    top: 550px;
	left: 250px;
}
.narco {
	
	position: absolute;
    top: 550px;
    left: 570px;
}


