@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');           /*Im adding the 2 fonts im using here*/
* {
	margin: 0;
	padding: 0;
}

html{
  background: url(../images/NLE.jpg) no-repeat center fixed;
  background-size: cover;
/*
    Fill the entire page with the image (no white space)
    Scale image as needed
    Center image on page
    Do not cause scrollbars
*/
}

body {
  font-family: 'Permanent Marker', cursive;           /*adding the main font to the body*/
}

h1 {
	font-size:100px;
  text-shadow: 7px 7px 5px black;
}
                                           /*customizing my main title as well as the text under*/
	#shotta {
		color: #1153bd;
		font-size:60px;
        text-shadow: 7px 7px 5px black;
		}

.code-text {
  text-align: center;
  position: absolute;
  top: 50%;                                            /*positioning of the title*/
  left: 50%;
  transform: translate(-50%, -50%);
  /*This transformation is characterized by a two-dimensional vector. Its coordinates define how much the element moves in each direction.*/
  color: #1385d6;

}

.menu ul{
	display: inline-flex;              /*this makes the navigation menu be in a row instead of columns*/
	margin: 50px;
 font-family: 'Staatliches', cursive;        /*set the font on the menu*/
	font-size: 25px;
}
.menu ul li{

	list-style: none;          /*this lets me remove the bullet points of the items*/
	margin: 0 20px;

}
.menu ul li a {
  text-decoration: none;          /*removes the underlines from the buttons*/
  color: #1153bd;
}

.logo img{
	width: 100px;
	margin-top: -23px;
	margin-right: 20px;


}
.social-icons{
    right: 70px;
    bottom: 30px;
    position: absolute;

}
.social-icons ul li{
	list-style: none;        /*this lets me remove the bullet points of the items*/
	margin-top: 15px;
}
